<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="com.google.android.gms.permission.AD_ID" />

    <application
        android:name=".application.MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="${appName}"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:targetApi="31">
        <activity
            android:name=".view.activity.SplashActivity"
            android:exported="true"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.activity.ResultGsonActivity"
            android:exported="true" />
        <activity
            android:name=".view.activity.NothingActivity"
            android:exported="true" />
        <activity
            android:name=".view.activity.ResultActivity"
            android:exported="true" />
        <activity
            android:name=".view.activity.MainActivity"
            android:exported="true" />
        <activity
            android:name=".view.activity.AdmobActivity"
            android:exported="true" />
        <activity
            android:name=".view.activity.FirebaseActivity"
            android:exported="true" />
        <activity
            android:name=".view.activity.banner_ad.BannerActivity"
            android:exported="true" />
        <activity
            android:name=".view.activity.banner_ad.BannerAdsActivity"
            android:exported="true"
            android:hardwareAccelerated="true" />
        <activity
            android:name=".view.activity.banner_ad.CollapsibleBannerActivity"
            android:exported="true"
            android:hardwareAccelerated="true" />
        <activity
            android:name=".view.activity.interstitial_ad.InterstitialActivity"
            android:exported="true"
            android:hardwareAccelerated="true" />
        <activity
            android:name=".view.activity.interstitial_ad.InterstitialAdsActivity"
            android:exported="true"
            android:hardwareAccelerated="true" />
        <activity
            android:name=".view.activity.rewarded_ad.RewardedActivity"
            android:exported="true"
            android:hardwareAccelerated="true" />
        <activity
            android:name=".view.activity.rewarded_ad.RewardedAdsActivity"
            android:exported="true"
            android:hardwareAccelerated="true" />
        <activity
            android:name=".view.activity.native_ad.NativeActivity"
            android:exported="true" />
        <activity
            android:name=".view.activity.native_ad.native_banner.NativeBannerActivity"
            android:exported="true" />
        <activity
            android:name=".view.activity.native_ad.native_banner.NativeBannerAdsActivity"
            android:exported="true"
            android:hardwareAccelerated="true" />
        <activity
            android:name=".view.activity.native_ad.native_banner.NativeBannerOldActivity"
            android:exported="true"
            android:hardwareAccelerated="true" />
        <activity
            android:name=".view.activity.native_ad.native_banner.NativeBannerSmartActivity"
            android:exported="true"
            android:hardwareAccelerated="true" />
        <activity
            android:name=".view.activity.native_ad.native_small.NativeSmallActivity"
            android:exported="true" />
        <activity
            android:name=".view.activity.native_ad.native_small.NativeSmallOldActivity"
            android:exported="true"
            android:hardwareAccelerated="true" />
        <activity
            android:name=".view.activity.native_ad.native_small.NativeSmallGntActivity"
            android:exported="true"
            android:hardwareAccelerated="true" />
        <activity
            android:name=".view.activity.native_ad.NativeLoadMultipleAdsActivity"
            android:exported="true"
            android:hardwareAccelerated="true" />
        <activity
            android:name=".view.activity.native_ad.native_medium.NativeMediumActivity"
            android:exported="true" />
        <activity
            android:name=".view.activity.native_ad.native_medium.NativeMediumUnifiedActivity"
            android:exported="true"
            android:hardwareAccelerated="true" />
        <activity
            android:name=".view.activity.native_ad.native_medium.NativeMediumAdsActivity"
            android:exported="true"
            android:hardwareAccelerated="true" />
        <activity
            android:name=".view.activity.native_ad.native_medium.NativeMediumOldActivity"
            android:exported="true"
            android:hardwareAccelerated="true" />
        <activity
            android:name=".view.activity.native_ad.native_medium.NativeMediumSmartActivity"
            android:exported="true"
            android:hardwareAccelerated="true" />
        <activity
            android:name=".view.activity.native_ad.native_medium.NativeMediumOldSmartActivity"
            android:exported="true"
            android:hardwareAccelerated="true" />
        <activity
            android:name=".view.activity.native_ad.native_medium.NativeMediumGntActivity"
            android:exported="true"
            android:hardwareAccelerated="true" />
        <activity
            android:name=".view.activity.native_ad.native_large.NativeLargeActivity"
            android:exported="true" />
        <activity
            android:name=".view.activity.native_ad.native_large.NativeLargeAdsActivity"
            android:exported="true"
            android:hardwareAccelerated="true" />
        <activity
            android:name=".view.activity.native_ad.native_large.NativeLargeOldActivity"
            android:exported="true"
            android:hardwareAccelerated="true" />
        <activity
            android:name=".view.activity.native_ad.native_inline.NativeInlineActivity"
            android:exported="true" />
        <activity
            android:name=".view.activity.native_ad.native_inline.NativeInlineAdsActivity"
            android:exported="true"
            android:hardwareAccelerated="true" />
        <activity
            android:name=".view.activity.native_ad.native_inline.NativeInlineSpanCountActivity"
            android:exported="true"
            android:hardwareAccelerated="true" />
        <activity
            android:name=".view.activity.native_ad.native_full_screen.NativeFullScreenAdsActivity"
            android:exported="true"
            android:hardwareAccelerated="true" />

        <!-- AdMob -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/admob_app_id" />
        <meta-data
            android:name="com.google.android.gms.ads.flag.OPTIMIZE_AD_LOADING"
            android:value="true" />
        <meta-data
            android:name="com.google.android.gms.ads.flag.OPTIMIZE_INITIALIZATION"
            android:value="true" />
        <!--Disabling validator native ad-->
        <meta-data
            android:name="com.google.android.gms.ads.flag.NATIVE_AD_DEBUGGER_ENABLED"
            android:value="false" />
        <!--  -->

        <!--Disabling Crashlytics-->
        <meta-data
            android:name="firebase_crashlytics_collection_enabled"
            android:value="${crashlyticsCollectionEnabled}" />
        <!---->

        <!-- FirebaseMessagingService -->
        <property
            android:name="android.adservices.AD_SERVICES_CONFIG"
            android:resource="@xml/gma_ad_services_config"
            tools:replace="android:resource" />

        <service
            android:name=".util.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_start_ic_notification" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />
        <!--  -->
    </application>

</manifest>