<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="com.google.android.gms.permission.AD_ID" />

    <application
        android:name=".application.MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:targetApi="31">
        <activity
            android:name=".view.activity.SplashActivity"
            android:exported="true"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.activity.NothingActivity"
            android:exported="true" />
        <activity
            android:name=".view.activity.ResultActivity"
            android:exported="true" />
        <activity
            android:name=".view.activity.MainActivity"
            android:exported="true" />
        <activity
            android:name=".view.activity.AdmobActivity"
            android:exported="true" />
        <activity
            android:name=".view.activity.FirebaseActivity"
            android:exported="true" />
        <activity
            android:name=".view.activity.BannerActivity"
            android:exported="true" />
        <activity
            android:name=".view.activity.BannerAdsActivity"
            android:exported="true"
            android:hardwareAccelerated="true" />
        <activity
            android:name=".view.activity.CollapsibleBannerActivity"
            android:exported="true"
            android:hardwareAccelerated="true" />
        <activity
            android:name=".view.activity.InterstitialActivity"
            android:exported="true"
            android:hardwareAccelerated="true" />
        <activity
            android:name=".view.activity.InterstitialAdsActivity"
            android:exported="true"
            android:hardwareAccelerated="true" />
        <activity
            android:name=".view.activity.RewardedActivity"
            android:exported="true"
            android:hardwareAccelerated="true" />
        <activity
            android:name=".view.activity.RewardedAdsActivity"
            android:exported="true"
            android:hardwareAccelerated="true" />
        <activity
            android:name=".view.activity.NativeActivity"
            android:exported="true"
            android:hardwareAccelerated="true" />
        <activity
            android:name=".view.activity.NativeBannerActivity"
            android:exported="true"
            android:hardwareAccelerated="true" />
        <activity
            android:name=".view.activity.NativeBannerAdsActivity"
            android:exported="true"
            android:hardwareAccelerated="true" />
        <activity
            android:name=".view.activity.NativeBannerOldActivity"
            android:exported="true"
            android:hardwareAccelerated="true" />
        <activity
            android:name=".view.activity.NativeBannerSmartActivity"
            android:exported="true"
            android:hardwareAccelerated="true" />

        <!-- AdMob -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/admob_app_id" />
        <meta-data
            android:name="com.google.android.gms.ads.flag.OPTIMIZE_AD_LOADING"
            android:value="true" />
        <meta-data
            android:name="com.google.android.gms.ads.flag.OPTIMIZE_INITIALIZATION"
            android:value="true" />
        <!--Disabling validator native ad-->
        <meta-data
            android:name="com.google.android.gms.ads.flag.NATIVE_AD_DEBUGGER_ENABLED"
            android:value="false" />
        <!--  -->

        <!-- FirebaseMessagingService -->
        <property
            android:name="android.adservices.AD_SERVICES_CONFIG"
            android:resource="@xml/gma_ad_services_config"
            tools:replace="android:resource" />

        <service
            android:name=".util.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_start_ic_notification" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />
        <!--  -->
    </application>

</manifest>